Django == 4.2.2
djangorestframework == 3.14.0
django-environ==0.10.0
django-stubs-ext == 4.2.2
django-cleanup == 8.0.0
psycopg2-binary == 2.9.6
Pillow == 9.5.0
django-crispy-forms == 2.0
crispy-bootstrap5 == 0.7
black == 23.3.0
isort == 5.12.0
djlint == 1.32.0
django-debug-toolbar == 4.1.0
mypy == 1.4.1
django-stubs == 4.2.3