Django == 5.0.1
djangorestframework == 3.14.0
django-environ==0.11.2
django-stubs-ext == 4.2.7
django-cleanup == 8.0.0
psycopg2-binary == 2.9.6
Pillow == 10.1.0
django-crispy-forms == 2.1
crispy-bootstrap5 == 2023.10
black == 23.12.1
isort == 5.13.2
djlint == 1.34.1
django-debug-toolbar == 4.2.0
mypy == 1.8.0
django-stubs == 4.2.7